ADF/pipeline/PL_Job_Trend_Ingestion_Master.json
{
	"name": "PL_Job_Trend_Ingestion_Master",
	"properties": {
		"activities": [
			{
				"name": "Extract data",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set Submission",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Content-Type": "application/json",
							"x-rapidapi-host": "linkedin-job-search-api.p.rapidapi.com"
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_Rest",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Json",
						"type": "DatasetReference",
						"parameters": {
							"Container": "lakeprod",
							"Folder": {
								"value": "@concat( 'Landed/', 'Linkedin','/',variables('Slot'), '/',variables('Submission'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Extract data Jsearch",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Submission",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Content-Type": "application/json",
							"x-rapidapi-host": "jsearch.p.rapidapi.com"
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_Rest_Jsearch",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Json",
						"type": "DatasetReference",
						"parameters": {
							"Container": "lakeprod",
							"Folder": {
								"value": "@concat( 'Landed/', 'JSearch','/',variables('Slot'), '/',variables('Submission'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set Slot",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Slot",
					"value": {
						"value": "@concat(formatDateTime(convertTimeZone(utcNow(),'UTC','India Standard Time'),'yyyy'), '-', formatDateTime(convertTimeZone(utcNow(),'UTC','India Standard Time'),'MM'), '-', formatDateTime(convertTimeZone(utcNow(),'UTC','India Standard Time'),'dd'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Submission",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Slot",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Submission",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcNow(),'UTC','India Standard Time'),'HHmmss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Generate Landed to Sourced",
				"type": "DatabricksSparkPython",
				"dependsOn": [
					{
						"activity": "Extract data Jsearch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pythonFile": "/Workspace/Repos/tayadeprathameshlearning25@gmail.com/Job-Trend-Analytics/Databricks/Main.py",
					"parameters": [
						"Generate_Sourced_Fact_Job.process",
						"@variables('Slot')",
						"@variables('Submission')",
						"@pipeline().globalParameters.root",
						"JSearch",
						"@pipeline().RunId",
						"Sourced"
					]
				},
				"linkedServiceName": {
					"referenceName": "LS_Databricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Slot": {
				"type": "string",
				"defaultValue": "-1000"
			},
			"Submission": {
				"type": "string",
				"defaultValue": "-2"
			},
			"SourceSystem": {
				"type": "string",
				"defaultValue": "JSearch"
			}
		},
		"variables": {
			"Slot": {
				"type": "String"
			},
			"Submission": {
				"type": "String"
			}
		},
		"annotations": []
	}
}