ADF/pipeline/PL_Job_Trend_Ingestion_Source.json
{
	"name": "PL_Job_Trend_Ingestion_Source",
	"properties": {
		"activities": [
			{
				"name": "Extract data",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set Submission",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Content-Type": "application/json",
							"x-rapidapi-host": "linkedin-job-search-api.p.rapidapi.com"
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_Rest",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Json",
						"type": "DatasetReference",
						"parameters": {
							"Container": "lakeprod",
							"Folder": {
								"value": "@concat( 'Landed/', 'Linkedin','/',variables('Slot'), '/',variables('Submission'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Extract data Jsearch",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set Submission",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Content-Type": "application/json",
							"x-rapidapi-host": "jsearch.p.rapidapi.com"
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_Rest_Jsearch",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Json",
						"type": "DatasetReference",
						"parameters": {
							"Container": "lakeprod",
							"Folder": {
								"value": "@concat( 'Landed/', 'JSearch','/',variables('Slot'), '/',variables('Submission'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set Slot",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Slot",
					"value": {
						"value": "@if(not(pipeline().parameters.Manual_Slot)\n,\nconcat(formatDateTime(convertTimeZone(utcNow(),'UTC','India Standard Time'),'yyyy'), '-', formatDateTime(convertTimeZone(utcNow(),'UTC','India Standard Time'),'MM'), '-', formatDateTime(convertTimeZone(utcNow(),'UTC','India Standard Time'),'dd')),pipeline().parameters.Slot\n\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Submission",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Slot",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Submission",
					"value": {
						"value": "@if(not(pipeline().parameters.Manual_Slot)\n,\nformatDateTime(convertTimeZone(utcNow(),'UTC','India Standard Time'),'HHmmss'),pipeline().parameters.Submission\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Generate Landed to Sourced",
				"type": "DatabricksSparkPython",
				"dependsOn": [
					{
						"activity": "Extract data Jsearch",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Query_Source",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pythonFile": "/Workspace/Repos/tayadeprathameshlearning25@gmail.com/Job-Trend-Analytics/Databricks/Main.py",
					"parameters": [
						"Generate_Sourced_Fact_Job.process",
						"@variables('Slot')",
						"@variables('Submission')",
						"@pipeline().globalParameters.root",
						"JSearch",
						"@pipeline().RunId",
						"Sourced"
					]
				},
				"linkedServiceName": {
					"referenceName": "LS_Databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Generate Sourced to Cleansed",
				"type": "DatabricksSparkPython",
				"dependsOn": [
					{
						"activity": "Generate Landed to Sourced",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pythonFile": "/Workspace/Repos/tayadeprathameshlearning25@gmail.com/Job-Trend-Analytics/Databricks/Main.py",
					"parameters": [
						"Generate_Cleansed_Fact_Job.process",
						"@variables('Slot')",
						"@variables('Submission')",
						"@pipeline().globalParameters.root",
						"JSearch",
						"@pipeline().RunId",
						"Cleansed"
					]
				},
				"linkedServiceName": {
					"referenceName": "LS_Databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Query_Source",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set Submission",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.Query_Source",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Extract data Jsearch_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Content-Type": "application/json",
										"x-rapidapi-host": "jsearch.p.rapidapi.com"
									},
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_Rest_Jsearch",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Json",
									"type": "DatasetReference",
									"parameters": {
										"Container": "lakeprod",
										"Folder": {
											"value": "@concat( 'Landed/', 'JSearch','/',variables('Slot'), '/',variables('Submission'))",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Slot": {
				"type": "string",
				"defaultValue": "2026-05-27"
			},
			"Submission": {
				"type": "string",
				"defaultValue": "234409"
			},
			"SourceSystem": {
				"type": "string",
				"defaultValue": "JSearch"
			},
			"Manual_Slot": {
				"type": "bool",
				"defaultValue": true
			},
			"Query_Source": {
				"type": "bool",
				"defaultValue": false
			}
		},
		"variables": {
			"Slot": {
				"type": "String"
			},
			"Submission": {
				"type": "String"
			}
		},
		"annotations": []
	}
}